.progress-ring {
  position: relative;
  width: 55px;
  height: 55px;
  background: transparent;
}

.ring-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.ring-bg {
  stroke: var(--ring-color);
  opacity: 0.2;
}

.ring-fg {
  stroke-dasharray: 163.36; /* 2 * PI * 26 */
  transition: stroke-dashoffset 0.5s ease;
}

.ring-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ring-name {
  font-size: 0.5rem; /* Reduced for more space */
  font-weight: 700;
  color: var(--ring-color);
  line-height: 1;
  margin-bottom: 2px;
}

.ring-duration {
  font-size: 0.7rem; /* Reduced for more space */
  font-weight: 700;
  color: white;
  line-height: 1;
}
