.ring {
  position: relative;
  width: 50px;
  height: 50px;
}

.ring-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.ring-bg {
  stroke: var(--ring-color);
  opacity: 0.2;
}

.ring-fg {
  stroke-dasharray: 163.36; /* 2 * PI * 26 */
  transition: stroke-dashoffset 0.5s ease;
  filter: drop-shadow(0 0 6px var(--ring-color));
}

.ring-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ring-name {
  font-size: 0.5rem;
  font-weight: 700;
  color: var(--ring-color);
  text-shadow: 0 0 8px var(--ring-color);
}

.ring-duration {
  font-size: 0.375rem;
  color: rgba(255, 255, 255, 0.8);
}
