<div class="panel-root">
  <dba-ui-inspector-section title="Stars" sub="Star catalog visibility">
    <dba-ui-icon slot="icon" [def]="starsIcon" [size]="14" />
    <div class="check-grid">
      <button type="button" class="check" [class.is-on]="filters().showNamedStars" (click)="toggle('showNamedStars')">
        <span class="box">@if (filters().showNamedStars) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Named Stars</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showHDStars" (click)="toggle('showHDStars')">
        <span class="box">@if (filters().showHDStars) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">HD Stars</span>
      </button>
    </div>

    <div class="mag-block">
      <div class="mag-row">
        <span class="mag-label">Max magnitude</span>
        <span class="mag-value">{{ filters().maxStarMagnitude.toFixed(1) }}</span>
      </div>
      <dba-ui-micro-slider
        [value]="filters().maxStarMagnitude"
        [min]="0"
        [max]="15"
        [step]="0.5"
        (valueChange)="setMaxMagnitude($event)"
      />
      <div class="mag-legend">
        <span>BRIGHTEST</span>
        <span>FAINT</span>
      </div>
    </div>
  </dba-ui-inspector-section>

  <hr class="divider" aria-hidden="true" />

  <dba-ui-inspector-section title="Catalogs">
    <dba-ui-icon slot="icon" [def]="layersIcon" [size]="14" />
    <div class="check-grid">
      <button type="button" class="check" [class.is-on]="filters().showMessier" (click)="toggle('showMessier')">
        <span class="box">@if (filters().showMessier) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Messier</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showNGC" (click)="toggle('showNGC')">
        <span class="box">@if (filters().showNGC) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">NGC</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showIC" (click)="toggle('showIC')">
        <span class="box">@if (filters().showIC) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">IC</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showCaldwell" (click)="toggle('showCaldwell')">
        <span class="box">@if (filters().showCaldwell) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Caldwell</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showSharpless" (click)="toggle('showSharpless')">
        <span class="box">@if (filters().showSharpless) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Sharpless</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showAbellClusters" (click)="toggle('showAbellClusters')">
        <span class="box">@if (filters().showAbellClusters) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Abell</span>
      </button>
    </div>
  </dba-ui-inspector-section>

  <hr class="divider" aria-hidden="true" />

  <dba-ui-inspector-section title="Object types">
    <dba-ui-icon slot="icon" [def]="globeIcon" [size]="14" />
    <div class="check-grid">
      <button type="button" class="check" [class.is-on]="filters().showGalaxies" (click)="toggle('showGalaxies')">
        <span class="box">@if (filters().showGalaxies) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Galaxies</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showOpenClusters" (click)="toggle('showOpenClusters')">
        <span class="box">@if (filters().showOpenClusters) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Open Clusters</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showGlobularClusters" (click)="toggle('showGlobularClusters')">
        <span class="box">@if (filters().showGlobularClusters) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Globular Clusters</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showPlanetaryNebulae" (click)="toggle('showPlanetaryNebulae')">
        <span class="box">@if (filters().showPlanetaryNebulae) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Planetary Nebulae</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showNebulae" (click)="toggle('showNebulae')">
        <span class="box">@if (filters().showNebulae) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Nebulae</span>
      </button>
      <button type="button" class="check" [class.is-on]="filters().showQuasars" (click)="toggle('showQuasars')">
        <span class="box">@if (filters().showQuasars) { <dba-ui-icon [def]="checkIcon" [size]="9" /> }</span>
        <span class="lbl">Quasars</span>
      </button>
    </div>
  </dba-ui-inspector-section>
</div>
