<div class="form-container">
  <dba-ui-accordion>
    <!-- Card Settings Section -->
    <dba-ui-accordion-item title="⚙️ Card Settings">
      <dba-ag-card-settings></dba-ag-card-settings>
    </dba-ui-accordion-item>

    <!-- Header Section -->
    <dba-ui-accordion-item title="📸 Image Details">
      <dba-ag-image-details></dba-ag-image-details>
    </dba-ui-accordion-item>

    <!-- Integration / Filters Section -->
    <dba-ui-accordion-item title="⏱️ Integration">
      <dba-ag-integration-settings></dba-ag-integration-settings>
    </dba-ui-accordion-item>

    <!-- Equipment Section -->
    <dba-ui-accordion-item title="🔭 Equipment">
      <dba-ag-equipment-settings></dba-ag-equipment-settings>
    </dba-ui-accordion-item>

    <!-- Software Section -->
    <dba-ui-accordion-item title="💻 Software">
      <dba-ag-software-settings></dba-ag-software-settings>
    </dba-ui-accordion-item>

    <!-- Bortle Scale Section -->
    <dba-ui-accordion-item title="🏙️ Bortle Scale">
      <dba-ag-bortle-settings></dba-ag-bortle-settings>
    </dba-ui-accordion-item>
  </dba-ui-accordion>
</div>
