<div class="form-container">
  <db-accordion>
    <!-- Card Settings Section -->
    <db-accordion-item title="⚙️ Card Settings">
      <ac-card-settings></ac-card-settings>
    </db-accordion-item>

    <!-- Header Section -->
    <db-accordion-item title="📸 Image Details">
      <ac-image-details></ac-image-details>
    </db-accordion-item>

    <!-- Integration / Filters Section -->
    <db-accordion-item title="⏱️ Integration">
      <ac-integration-settings></ac-integration-settings>
    </db-accordion-item>

    <!-- Equipment Section -->
    <db-accordion-item title="🔭 Equipment">
      <ac-equipment-settings></ac-equipment-settings>
    </db-accordion-item>

    <!-- Software Section -->
    <db-accordion-item title="💻 Software">
      <ac-software-settings></ac-software-settings>
    </db-accordion-item>

    <!-- Bortle Scale Section -->
    <db-accordion-item title="🏙️ Bortle Scale">
      <ac-bortle-settings></ac-bortle-settings>
    </db-accordion-item>
  </db-accordion>
</div>
